<div class="filter">
    <img id="filter_logo" src="./src/img_513653.png">
</div>
<div class="menu">
    <div class="filter_space">
        <div class="filter_container">
            <p class="menu_title bold">Бренд</p>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Nike</p>
            </div>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Adidas</p>
            </div>
        </div>
        <div class="filter_container">
            <p class="menu_title bold">Пол</p>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Мужчины</p>
            </div>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Женщины</p>
            </div>
        </div>
        <div class="filter_container">
            <p class="menu_title bold">Цена</p>
                <div class="price_check">
                    <input type="text" id="from">
                    <p class="price_text lighter">От</p>
                </div>
                <div class="price_check">
                    <input type="text" id="to">
                    <p class="price_text lighter">До</p>
                </div>
        </div>

        <div class="filter_container">
            <p class="menu_title bold">Бренд</p>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Nike</p>
            </div>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Adidas</p>
            </div>
            <div class="scrollbar" id="style-3">
                <div class="force-overflow"></div>
            </div>
        </div>
        <div class="filter_container">
            <p class="menu_title bold">Пол</p>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Мужчины</p>
            </div>
            <div class="filter_tag">
                <label class="checkbox bounce">
                    <input type="checkbox">
                    <svg viewBox="0 0 21 21">
                        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                    </svg>
                </label>
                <p class="tag lighter">Женщины</p>
            </div>
        </div>
        <div class="filter_container">
            <p class="menu_title bold">Цена</p>
                <div class="price_check">
                    <input type="text" id="from">
                    <p class="price_text lighter">От</p>
                </div>
                <div class="price_check">
                    <input type="text" id="to">
                    <p class="price_text lighter">До</p>
                </div>
        </div>
        <button class="reset_params">
            <p class="reset_text lighter">Сбросить параметры</p>
        </button>
    </div> 
</div>