* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald';
}

/* Header */

.header {
    border-bottom: 2px solid #000;
    display: flex;
    height: 98px;
}

.logo {
    position: relative;
    left: 50%;
    margin: 35px auto;
    margin-left: -53px;
}

/* Menu */

.wrapper-menu {
    margin-top: 35px;
    margin-right: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
}

.line-menu {
    background-color: #000;
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

/* Content */

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    width: 900px;
    margin: 30px auto;
}

.text-content {
    display: flex;
    justify-content: baseline; 
}

.text {
    font-size: 20px;
    font-family: 'Oswald';
    margin-right: 25px;
    margin-left: 25px;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 15px;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.lighter {
    font-weight: 100;
    cursor: pointer;
}

/* Cards */

#cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 900px;    
}

.card {
    width: 250px;
    margin: 30px 25px 0 25px;
    margin-top: 30px;
}

.shoe {
    width: 250px;
    height: 250px;
}

.info {
    display: flex;
}

svg {
    display: block;
    width: auto;
    height: auto;
    margin-left: 10px;
}
   
.svg_2 {
    fill:transparent; 
    stroke:#000;
    stroke-width: 10px;
    cursor:pointer;
    transition:fill .3s;
}

.svg_2.filled {
    fill:#000;
}

/* Tools */

.tools {
    position: absolute;
    right: 0%;
    margin: 35px 50px;
    display: flex;
}

.tool {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

/* Search button */

.input-wrapper {
    width: 150px;
}

.input-wrapper::after {
    content: attr(data-text);
    font-size: 1rem;
    line-height: 0;
    height: 0;
    width: 150px;
    font-family: 'Oswald';
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    user-select: none;
    color: transparent;
}
  
input {
    width: 150px;
    height: 20px;
    color: #000;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    font-family: 'Oswald';
    border-bottom: 2px solid #000;
    background-color: transparent;
    overflow: hidden;
}

/* Filter */

.filter {
    min-height: 100%;
    position: fixed;
    top: 0%;
    border-right: 2px solid #000;
    display: flex;
    align-items: center;
}

.filter_logo {
    margin: auto 30px;
    width: 35px;
    height: 35px;
}

.made_by {
    display: flex;
    position: fixed;
    bottom: 35px;
    right: 50px;
    font-size: 36px;
    opacity: .25;
}

/* Footer */

.footer {
    height: 150px;
    width: 100vw;
    background-color: #000;
    overflow: hidden;
}