<div class="content">
    {{> filter}}
</div>

<div class="container">
    <div class="text-content">
        <div class="text bold">Сортировать:</div>
        <div class="text lighter" id="toMax">по возрастанию цены</div>
        <div class="text lighter" id="toMin">по убыванию цены</div>
    </div>

    <div id="cards">
        
    </div>
</div>
<div class="tools">
    <div class="input-wrapper" data-text="">
        <input class="search" type="text" placeholder="Поиск...">          
    </div>
    <img class="tool" src="./src/img_112825.png">
    <img class="tool" src="./src/Heart_font_awesome.svg.png">
</div>
<div class="made_by">
    Rifat Yarullin, 2021
</div>

<script src="js/main.js"></script>