{{> header}}

<div class="login_container">
    <input type="text" class="login_input" id="login" placeholder="Логин">
    <input type="text" class="login_input" id="password" placeholder="Парль">
    <button>Войти</button>
    <p class="hov">Нет аккаунта? <a class="login bold" href="/register">Регистрация</a></p>
</div>